#classA{
    color: yellow;font-size: 30px;font-family: 'Times New Roman', Times, serif; margin: 50px; padding: 20px; border: 5px dotted red
}
.classB{
    color: darkgreen;font-size: 30px;font-family: 'Times New Roman', Times, serif; margin: 50px; padding: 20px; border: 5px dotted red;
}